@font-face {
    font-family: 'Magical Story';
    src: url('fonts/MagicalStory-Regular.eot');
    src: url('fonts/MagicalStory-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MagicalStory-Regular.woff2') format('woff2'),
        url('fonts/MagicalStory-Regular.woff') format('woff'),
        url('fonts/MagicalStory-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Regular.woff2') format('woff2'),
        url("fonts/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

$brut-primary: #2D9F92;
$brut-dark: #212121;

$primary: var(--color-primary, $brut-primary);
$dark: var(--color-dark, $brut-primary);

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*::selection {
    background-color: $primary;
    color: white;
}

#app {
    --color-primary: #2D9F92;
    --color-dark: #212121;

    font-family: Soleil, sans-serif;
    max-width: 1140px;
    width: calc(100% - 2em);
    margin: 0 auto;
    user-select: none;

    code {
        user-select: text;
    }

    &::before {
        content: '';
        left: 0;
        right: 0;
        height: 150vh;
        top: 0;
        position: absolute;
        z-index: -1;
        background: linear-gradient(lighten($brut-primary, 20%) 0% 75%, lighten($brut-primary, 100%));
    }

    a {

        &:link,
        &:visited,
        &:active {
            color: $primary;
            transition: color 150ms ease-out;

            &,
            &:hover {
                text-decoration: none;
            }

            &:hover {
                color: $dark;
            }
        }
    }

    .header {
        margin: 1em 0 3em;

        &__title-link {
            margin: 3.5em 0 2em;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: fit-content;
            gap: 2em;
        }

        &__logo {
            max-width: clamp(60px, 100%, 80px);
            z-index: 2;
            position: relative;
            top: -3.8em;
        }

        &__title {
            width: fit-content;
            padding: 0 1em;
            z-index: 1;
            font-family: "Magical Story", cursive;
            font-size: 3.5em;
            letter-spacing: .04em;
            color: white;
            line-height: 0;
            position: relative;
            margin-top: -1em;
            z-index: -1;

            @media screen and (max-width: 660px) {
                width: 100%;
                line-height: 1.5em;
            }

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                top: -2em;
                bottom: -2em;
                background-color: lighten($brut-primary, 20%);
            }

            &-container {
                text-align: center;
                position: relative;
                display: flex;
                justify-content: center;

                &::before {
                    content: '';
                    position: absolute;
                    height: 1px;
                    background-color: rgba(white, .3);
                    left: 0;
                    right: 0;
                    top: calc(50% + 4px);
                    z-index: -1;
                    margin-top: 1em;

                    @media screen and (max-width: 660px) {
                        content: unset;
                    }
                }
            }

        }

        .categories-nav {
            display: flex;
            justify-content: center;
            gap: 3em;
            row-gap: 1em;
            flex-wrap: wrap;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.9em;

            a {
                color: white;

                &:hover {
                    color: lighten($brut-primary, 50%);
                }
            }
        }
    }

    .articles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 660px) {
            grid-template-columns: 1fr;
        }
    }

    .article {

        &,
        a {
            text-decoration: none !important;
        }

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            transition: opacity 150ms ease-out;
        }

        &:hover {
            img {
                opacity: 0.9;
            }
        }

        &:first-child {
            grid-column: span 3;

            img {
                aspect-ratio: 2/1;
            }

            @media screen and (max-width: 1000px) {
                grid-column: span 2;
            }

            @media screen and (max-width: 660px) {
                grid-column: span 1;

                img {
                    aspect-ratio: 1/1;
                }

                .article__image::before {
                    content: unset;
                }
            }
        }

        &__top {
            display: flex;
            gap: 3em;
            font-weight: 400;

            .article__category:first-letter {
                text-transform: uppercase;
            }

            *:not(:first-child) {
                &::before {
                    content: '|';
                    opacity: 0.5;
                    position: relative;
                    left: -1.5em;
                    width: 1px;
                    color: $dark !important;
                    pointer-events: none;
                }
            }
        }

        &__title {
            text-transform: uppercase;
            font-size: 1.4em;
            user-select: text;
        }

        &__description {
            font-size: 1em;
            user-select: text;
            font-weight: 300;
            opacity: 0.9;
        }

        &:first-child {
            @media screen and (min-width: 661px) {
                text-align: center;

                .article__top,
                .article__bottom {
                    justify-content: center;
                    align-items: center;
                }

                .article__title,
                .article__description {
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 600px;
                }
            }
        }

        &__bottom {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1em;

            &::before {
                content: '';
                background-color: rgba($brut-dark, .5);
                width: clamp(20px, 30%, 50px);
                height: 1px;
            }

            a {
                display: flex;
                align-items: center;

                .material-icons {
                    position: relative;
                    top: .1em;
                }
            }
        }
    }

    .post-infos {
        position: relative;
        padding: 0;
        margin: 0;
        line-height: 0;

        &__image {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 2/1;
        }

        &__content {
            position: absolute;
            display: flex;
            inset: 0;
            line-height: unset;
            background-color: rgba($brut-dark, .5);
            color: white;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &__title {
            font-size: 3em;
            text-transform: uppercase;
            letter-spacing: .15em;
            line-height: 1.5em;


            @media screen and (max-width: 660px) {
                font-size: 1em;
            }
        }

        &__infos {
            height: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3em;

            >:not(:first-child) {
                position: relative;

                &::before {
                    content: '|';
                    pointer-events: none;
                    position: absolute;
                    left: -1.5em;
                    height: 100%;
                    width: 1px;
                    background-color: white;
                }
            }
        }
    }

    .post__content {
        padding: 2em 0;
        margin: 0 auto;
        width: clamp(200px, 66.66%, 800px);
        font-weight: 300;
        letter-spacing: .12em;
        line-height: 1.5em;
        word-spacing: .16em;
        color: rgba($brut-dark, .8);

        p {
            margin-top: 3em;
        }

        a {
            pointer-events: all;
            color: $primary;
            font-weight: bold;
        }

        b {
            font-weight: bolder;
        }

        em {
            font-style: italic;
            color: rgba($brut-dark, .6);
        }

        blockquote {
            border-left: 1px solid $primary;
            margin: 0;
            padding-left: 3em;
            font-family: park-lane, serif;
            font-weight: 300;
            font-style: normal;
            user-select: text;
            font-size: 1.3em;
            letter-spacing: .18em;
            word-spacing: .2em;
            text-align: justify;

            >:first-child {
                &::before {
                    content: "“";
                }

                &::after {
                    content: "”";
                }
            }

            >:last-child:not(:first-child) cite {
                font-style: none;
                font-size: 0.8em;
            }
        }

        code,
        pre {
            user-select: text;
            font-family: "Fira code", monospace;
        }

        pre {
            margin-top: 3em;
            padding: 1em;
            background-color: $dark !important;
            position: relative;
            overflow-x: unset !important;

            &::before {
                content: '';
                background-color: $dark !important;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -50vw;
                right: -50vw;
                z-index: -1;
                pointer-events: none;
            }
        }

        hr {
            margin-top: 3em;
            width: 60%;
            opacity: 0.6;
        }
    }
}