---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="error_404">
    <img src="/bot_error.png" alt="" />
    <h1>Erreur 404</h1>
    <h2>La page que vous demandez n'existe pas ou plus.</h2>
    <p>
      Vous pouvez aussi créer cette page et nous aider à maintenir ce super-site
      communautaire !
    </p>
    <p>
      Pour nous aider, c'est ici, <a
        href="https://github.com/antharuu/jardin-des-devs"
        target="_blank"
        class="error_404__link">sur github</a
      > !
    </p>
  </div>
</MainLayout>
