---
import Link from "./Link.astro";
import { SITE_TITLE } from "../config";
import { Categories } from "../jdd/infos";

console.log("ok");
---

<header class="header">
	<div class="header__title-container">
		<Link href="/" class="header__title-link">
			<h1 class="header__title">{SITE_TITLE}</h1>
		</Link>
	</div>
	<nav class="categories-nav">
		{
			Categories.map((v) => (
				<a class="categories-nav__item" href={"category/" + v}>
					{v.replaceAll("-", " ")}
				</a>
			))
		}
	</nav>
</header>
